<section>
    <div class="container">
        <h1 class="text-center">All Users</h1>
        {{#each user}}
        <ul>
            <li> {{this.name}}</li>
        </ul>
        {{/each}}
    </div>
</section>