<section>
    <div class="container"  style="padding-top: 8em;">
        <h1 class="text-center">Order Placed Successfully</h1>
        <div class="text-center">
            <a href="/order" class="btn btn-success">View Orders</a>
        </div>
        

    </div>
</section>